In [1]:
print("hellowur")

hellowur

In [ ]:
#Now the commit has been done and it's time for me to add these in the github to check the commits

In [2]:
#importing the library
import pandas as pd
import os

import numpy as np

In [3]:
datasetoriginal= pd.read_csv(r'C:\Users\regan\Hospital Readmissions\Diabetic_Dataset.csv')
dataset= pd.read_csv(r'C:\Users\regan\Hospital Readmissions\Diabetic_Dataset.csv')

In [4]:
#Finding the number of rows and columns for the dataset
print(dataset.shape)

(101766, 50)

In [5]:
print(dataset.columns)

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [6]:
print(dataset["weight"].isnull().count()) 
#Here we see all the datas in the weight column are empty so we should drop it as we don't have exact values for it
#Similarly
print(dataset["payer_code"].isnull().count())

print(dataset["medical_specialty"].value_counts().get("?"))

#There are no datas for payer code and lots of missing data for medical specialty so we will drop these columns

101766
101766
49949

In [9]:
new_dataset = dataset.drop(["weight","payer_code","medical_specialty"], axis= 1)
print(new_dataset.shape)
print(new_dataset.isnull().sum().sort_values(ascending=False))

(101766, 47)
max_glu_serum               96420
A1Cresult                   84748
encounter_id                    0
glimepiride                     0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
acetohexamide                   0
nateglinide                     0
chlorpropamide                  0
patient_nbr                     0
race                            0
gender                          0
age                             0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          0
diag_2                          0
diag_3                          0
number_diagnoses                0
metformin                       0
repaglinide                     0
readmitted                      0
dtype: int64

In [10]:
#We see 3 columns have been dropped now
new_dataset=new_dataset.replace('?', np.nan)
print(new_dataset["race"].unique())
#We can see there is a '?' missing value on the race column

['Caucasian' 'AfricanAmerican' nan 'Other' 'Asian' 'Hispanic']

In [ ]:
#We can replace it by mode
#new_dataset=new_dataset.replace(np.nan, new_dataset['race'].mode()[0])
#print(new_dataset.head(50))

In [11]:
print(new_dataset['gender'].unique())

['Female' 'Male' 'Unknown/Invalid']

In [12]:
#there are invalid genders as well so we will find the % of invalid data in the given columns
invalid_gen=len(new_dataset[new_dataset['gender']=="Unknown/Invalid"])
print(invalid_gen)
#we see there are only 3 datas that are invalid we can drop them to clean the data

3

In [13]:
#dropping datas with invalid/unknown gender
new_dataset = new_dataset[new_dataset['gender'].isin(['Male', 'Female'])]
print(new_dataset.head(20))
print(new_dataset.shape)

    encounter_id  patient_nbr             race  gender       age  \
0        2278392      8222157        Caucasian  Female    [0-10)
1         149190     55629189        Caucasian  Female   [10-20)
2          64410     86047875  AfricanAmerican  Female   [20-30)
3         500364     82442376        Caucasian    Male   [30-40)
4          16680     42519267        Caucasian    Male   [40-50)
5          35754     82637451        Caucasian    Male   [50-60)
6          55842     84259809        Caucasian    Male   [60-70)
7          63768    114882984        Caucasian    Male   [70-80)
8          12522     48330783        Caucasian  Female   [80-90)
9          15738     63555939        Caucasian  Female  [90-100)
10         28236     89869032  AfricanAmerican  Female   [40-50)
11         36900     77391171  AfricanAmerican    Male   [60-70)
12         40926     85504905        Caucasian  Female   [40-50)
13         42570     77586282        Caucasian    Male   [80-90)
14         62256     49726791  AfricanAmerican  Female   [60-70)
15         73578     86328819  AfricanAmerican    Male   [60-70)
16         77076     92519352  AfricanAmerican    Male   [50-60)
17         84222    108662661        Caucasian  Female   [50-60)
18         89682    107389323  AfricanAmerican    Male   [70-80)
19        148530     69422211              NaN    Male   [70-80)

    admission_type_id  discharge_disposition_id  admission_source_id  \
0                   6                        25                    1
1                   1                         1                    7
2                   1                         1                    7
3                   1                         1                    7
4                   1                         1                    7
5                   2                         1                    2
6                   3                         1                    2
7                   1                         1                    7
8                   2                         1                    4
9                   3                         3                    4
10                  1                         1                    7
11                  2                         1                    4
12                  1                         3                    7
13                  1                         6                    7
14                  3                         1                    2
15                  1                         3                    7
16                  1                         1                    7
17                  1                         1                    7
18                  1                         1                    7
19                  3                         6                    2

    time_in_hospital  num_lab_procedures  ...  citoglipton  insulin  \
0                  1                  41  ...           No       No
1                  3                  59  ...           No       Up
2                  2                  11  ...           No       No
3                  2                  44  ...           No       Up
4                  1                  51  ...           No   Steady
5                  3                  31  ...           No   Steady
6                  4                  70  ...           No   Steady
7                  5                  73  ...           No       No
8                 13                  68  ...           No   Steady
9                 12                  33  ...           No   Steady
10                 9                  47  ...           No   Steady
11                 7                  62  ...           No   Steady
12                 7                  60  ...           No     Down
13                10                  55  ...           No   Steady
14                 1                  49  ...           No   Steady
15                12                  75  ...           No       Up
16                 4                  45  ...           No   Steady
17                 3                  29  ...           No       No
18                 5                  35  ...           No   Steady
19                 6                  42  ...           No   Steady

    glyburide-metformin  glipizide-metformin  glimepiride-pioglitazone  \
0                    No                   No                        No
1                    No                   No                        No
2                    No                   No                        No
3                    No                   No                        No
4                    No                   No                        No
5                    No                   No                        No
6                    No                   No                        No
7                    No                   No                        No
8                    No                   No                        No
9                    No                   No                        No
10                   No                   No                        No
11                   No                   No                        No
12                   No                   No                        No
13                   No                   No                        No
14                   No                   No                        No
15                   No                   No                        No
16                   No                   No                        No
17                   No                   No                        No
18                   No                   No                        No
19                   No                   No                        No

   metformin-rosiglitazone metformin-pioglitazone change  diabetesMed  \
0                       No                     No     No           No
1                       No                     No     Ch          Yes
2                       No                     No     No          Yes
3                       No                     No     Ch          Yes
4                       No                     No     Ch          Yes
5                       No                     No     No          Yes
6                       No                     No     Ch          Yes
7                       No                     No     No          Yes
8                       No                     No     Ch          Yes
9                       No                     No     Ch          Yes
10                      No                     No     No          Yes
11                      No                     No     Ch          Yes
12                      No                     No     Ch          Yes
13                      No                     No     No          Yes
14                      No                     No     No          Yes
15                      No                     No     Ch          Yes
16                      No                     No     Ch          Yes
17                      No                     No     No          Yes
18                      No                     No     No          Yes
19                      No                     No     Ch          Yes

   readmitted
0          NO
1         >30
2          NO
3          NO
4          NO
5         >30
6          NO
7         >30
8          NO
9          NO
10        >30
11        <30
12        <30
13         NO
14        >30
15         NO
16        <30
17         NO
18        >30
19         NO

[20 rows x 47 columns]
(101763, 47)

In [17]:
#we have removed the three rows which contained invalid genders
#we see that there are age given in [0-10) format. I think it's better to find the middle data for the given age bins)

# Extract the two numbers (lower and upper bound) from the age interval
#bounds = new_dataset['age'].str.extract(r'(\d+)-(\d+)').astype(int)

#Calculate midpoint
#new_dataset['age_mid'] = bounds.mean(axis=1) - 0.5
#print(new_dataset)

        encounter_id  patient_nbr             race  gender      age  \
0            2278392      8222157        Caucasian  Female   [0-10)
1             149190     55629189        Caucasian  Female  [10-20)
2              64410     86047875  AfricanAmerican  Female  [20-30)
3             500364     82442376        Caucasian    Male  [30-40)
4              16680     42519267        Caucasian    Male  [40-50)
...              ...          ...              ...     ...      ...
101761     443847548    100162476  AfricanAmerican    Male  [70-80)
101762     443847782     74694222  AfricanAmerican  Female  [80-90)
101763     443854148     41088789        Caucasian    Male  [70-80)
101764     443857166     31693671        Caucasian  Female  [80-90)
101765     443867222    175429310        Caucasian    Male  [70-80)

        admission_type_id  discharge_disposition_id  admission_source_id  \
0                       6                        25                    1
1                       1                         1                    7
2                       1                         1                    7
3                       1                         1                    7
4                       1                         1                    7
...                   ...                       ...                  ...
101761                  1                         3                    7
101762                  1                         4                    5
101763                  1                         1                    7
101764                  2                         3                    7
101765                  1                         1                    7

        time_in_hospital  num_lab_procedures  ...  insulin  \
0                      1                  41  ...       No
1                      3                  59  ...       Up
2                      2                  11  ...       No
3                      2                  44  ...       Up
4                      1                  51  ...   Steady
...                  ...                 ...  ...      ...
101761                 3                  51  ...     Down
101762                 5                  33  ...   Steady
101763                 1                  53  ...     Down
101764                10                  45  ...       Up
101765                 6                  13  ...       No

        glyburide-metformin  glipizide-metformin  glimepiride-pioglitazone  \
0                        No                   No                        No
1                        No                   No                        No
2                        No                   No                        No
3                        No                   No                        No
4                        No                   No                        No
...                     ...                  ...                       ...
101761                   No                   No                        No
101762                   No                   No                        No
101763                   No                   No                        No
101764                   No                   No                        No
101765                   No                   No                        No

        metformin-rosiglitazone metformin-pioglitazone change diabetesMed  \
0                            No                     No     No          No
1                            No                     No     Ch         Yes
2                            No                     No     No         Yes
3                            No                     No     Ch         Yes
4                            No                     No     Ch         Yes
...                         ...                    ...    ...         ...
101761                       No                     No     Ch         Yes
101762                       No                     No     No         Yes
101763                       No                     No     Ch         Yes
101764                       No                     No     Ch         Yes
101765                       No                     No     No          No

        readmitted age_mid
0               NO     4.5
1              >30    14.5
2               NO    24.5
3               NO    34.5
4               NO    44.5
...            ...     ...
101761         >30    74.5
101762          NO    84.5
101763          NO    74.5
101764          NO    84.5
101765          NO    74.5

[101763 rows x 48 columns]

In [14]:
def age_to_numeric(age):
    if pd.isna(age) or age=="?" or age=="Unknown":
        return np.nan
    numbers = age.strip("[]()").split("-")
    if len(numbers) == 2:
        lower = float(numbers[0])
        upper = float(numbers[1])
        return (upper+lower-1)/2
    return np.nan

new_dataset['middle_age']= new_dataset['age'].apply(age_to_numeric)
print(new_dataset)

        encounter_id  patient_nbr             race  gender      age  \
0            2278392      8222157        Caucasian  Female   [0-10)
1             149190     55629189        Caucasian  Female  [10-20)
2              64410     86047875  AfricanAmerican  Female  [20-30)
3             500364     82442376        Caucasian    Male  [30-40)
4              16680     42519267        Caucasian    Male  [40-50)
...              ...          ...              ...     ...      ...
101761     443847548    100162476  AfricanAmerican    Male  [70-80)
101762     443847782     74694222  AfricanAmerican  Female  [80-90)
101763     443854148     41088789        Caucasian    Male  [70-80)
101764     443857166     31693671        Caucasian  Female  [80-90)
101765     443867222    175429310        Caucasian    Male  [70-80)

        admission_type_id  discharge_disposition_id  admission_source_id  \
0                       6                        25                    1
1                       1                         1                    7
2                       1                         1                    7
3                       1                         1                    7
4                       1                         1                    7
...                   ...                       ...                  ...
101761                  1                         3                    7
101762                  1                         4                    5
101763                  1                         1                    7
101764                  2                         3                    7
101765                  1                         1                    7

        time_in_hospital  num_lab_procedures  ...  insulin  \
0                      1                  41  ...       No
1                      3                  59  ...       Up
2                      2                  11  ...       No
3                      2                  44  ...       Up
4                      1                  51  ...   Steady
...                  ...                 ...  ...      ...
101761                 3                  51  ...     Down
101762                 5                  33  ...   Steady
101763                 1                  53  ...     Down
101764                10                  45  ...       Up
101765                 6                  13  ...       No

        glyburide-metformin  glipizide-metformin  glimepiride-pioglitazone  \
0                        No                   No                        No
1                        No                   No                        No
2                        No                   No                        No
3                        No                   No                        No
4                        No                   No                        No
...                     ...                  ...                       ...
101761                   No                   No                        No
101762                   No                   No                        No
101763                   No                   No                        No
101764                   No                   No                        No
101765                   No                   No                        No

        metformin-rosiglitazone metformin-pioglitazone change diabetesMed  \
0                            No                     No     No          No
1                            No                     No     Ch         Yes
2                            No                     No     No         Yes
3                            No                     No     Ch         Yes
4                            No                     No     Ch         Yes
...                         ...                    ...    ...         ...
101761                       No                     No     Ch         Yes
101762                       No                     No     No         Yes
101763                       No                     No     Ch         Yes
101764                       No                     No     Ch         Yes
101765                       No                     No     No          No

        readmitted middle_age
0               NO        4.5
1              >30       14.5
2               NO       24.5
3               NO       34.5
4               NO       44.5
...            ...        ...
101761         >30       74.5
101762          NO       84.5
101763          NO       74.5
101764          NO       84.5
101765          NO       74.5

[101763 rows x 48 columns]

In [32]:
#using ordinal encoder to enncode the readmitted data
import sklearn
from sklearn.preprocessing import OrdinalEncoder
#imported the sklearn and OrdinalEncoder 
encoder= OrdinalEncoder()
#instanciated the class 
new_dataset["newencodedcolumn"]=encoder.fit_transform(new_dataset[["readmitted"]])
print(new_dataset["newencodedcolumn"].head(20))
#this is not recommended as it throws errors as 3 numbers but we only need 2 0 or 1

0     2.0
1     1.0
2     2.0
3     2.0
4     2.0
5     1.0
6     2.0
7     1.0
8     2.0
9     2.0
10    1.0
11    0.0
12    0.0
13    2.0
14    1.0
15    2.0
16    0.0
17    2.0
18    1.0
19    2.0
Name: newencodedcolumn, dtype: float64

In [33]:
print(new_dataset['admission_type_id'].unique()) 
#all datas are constant no need to change anything

[6 1 2 3 4 5 8 7]

In [34]:
print(new_dataset['discharge_disposition_id'].dtype)

int64

encounter_id                    0
patient_nbr                     0
race                         2271
gender                          0
age                             0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum               96417
A1Cresult                   84745
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
age_mid                         0
middle_age                      0
dtype: int64

In [52]:
#Now we gotta set the target variable for column readmitted
admitted = new_dataset['readmitted']
#print(admitted)
encoded_list = []
for i in admitted:
    if i == '>30' or i == 'No':
        a = 0
    else:
        a = 1
    encoded_list.append(a) # <<< Runs on every iteration

    
new_dataset['encoded_readmitted'] = encoded_list
    # ... rest of code...
#We've set an encoding if data is >30 and not admitted we dont have a problem and is encoded by 0
#if they come <30 days its encoded as 1

In [53]:
new_dataset.head(20)

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,middle_age,newencodedcolumn,encoded_readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,NO,4.5,2.0,1
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,No,No,No,Ch,Yes,>30,14.5,1.0,0
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,Yes,NO,24.5,2.0,1
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,No,No,No,Ch,Yes,NO,34.5,2.0,1
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,No,No,No,Ch,Yes,NO,44.5,2.0,1
5,35754,82637451,Caucasian,Male,[50-60),2,1,2,3,31,...,No,No,No,No,No,Yes,>30,54.5,1.0,0
6,55842,84259809,Caucasian,Male,[60-70),3,1,2,4,70,...,No,No,No,No,Ch,Yes,NO,64.5,2.0,1
7,63768,114882984,Caucasian,Male,[70-80),1,1,7,5,73,...,No,No,No,No,No,Yes,>30,74.5,1.0,0
8,12522,48330783,Caucasian,Female,[80-90),2,1,4,13,68,...,No,No,No,No,Ch,Yes,NO,84.5,2.0,1
9,15738,63555939,Caucasian,Female,[90-100),3,3,4,12,33,...,No,No,No,No,Ch,Yes,NO,94.5,2.0,1
10,28236,89869032,AfricanAmerican,Female,[40-50),1,1,7,9,47,...,No,No,No,No,No,Yes,>30,44.5,1.0,0
11,36900,77391171,AfricanAmerican,Male,[60-70),2,1,4,7,62,...,No,No,No,No,Ch,Yes,<30,64.5,0.0,1
12,40926,85504905,Caucasian,Female,[40-50),1,3,7,7,60,...,No,No,No,No,Ch,Yes,<30,44.5,0.0,1
13,42570,77586282,Caucasian,Male,[80-90),1,6,7,10,55,...,No,No,No,No,No,Yes,NO,84.5,2.0,1
14,62256,49726791,AfricanAmerican,Female,[60-70),3,1,2,1,49,...,No,No,No,No,No,Yes,>30,64.5,1.0,0
15,73578,86328819,AfricanAmerican,Male,[60-70),1,3,7,12,75,...,No,No,No,No,Ch,Yes,NO,64.5,2.0,1
16,77076,92519352,AfricanAmerican,Male,[50-60),1,1,7,4,45,...,No,No,No,No,Ch,Yes,<30,54.5,0.0,1
17,84222,108662661,Caucasian,Female,[50-60),1,1,7,3,29,...,No,No,No,No,No,Yes,NO,54.5,2.0,1
18,89682,107389323,AfricanAmerican,Male,[70-80),1,1,7,5,35,...,No,No,No,No,No,Yes,>30,74.5,1.0,0
19,148530,69422211,NaN,Male,[70-80),3,6,2,6,42,...,No,No,No,No,Ch,Yes,NO,74.5,2.0,1

In [19]:
from sklearn.preprocessing import